In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import missingno as msno
import seaborn as sns

In [2]:
path = "./data/"
b= pd.read_csv(path + "books_word2vec.csv")
books = pd.read_csv(path + "books_by_author.csv")
users= pd.read_csv(path + "users.csv")
rating = pd.read_csv(path + "train_ratings.csv")

In [3]:
books_p = pd.read_csv(path + "books_by_publisher.csv")
books_p = books.drop('Unnamed: 0', axis= 1)

In [4]:
books_a = books.drop('Unnamed: 0', axis= 1)

In [6]:
books_a.year_of_publication.describe()

count    149570.000000
mean       1994.590606
std           8.179733
min        1376.000000
25%        1991.000000
50%        1996.000000
75%        2000.000000
max        2006.000000
Name: year_of_publication, dtype: float64

In [7]:
def year_map(x: int) -> int:
    x = int(x)
    if x <= 1990:
        return 1
    elif x > 1990 and x <= 1995:
        return 2
    elif x > 1995 and x <= 2000:
        return 3
    else:
        return 4

In [8]:
books_a['year_of_publication'] = books_a['year_of_publication'].apply(year_map)

In [9]:
books_p['year_of_publication'] = books_p['year_of_publication'].apply(year_map)

In [10]:
books_a

,isbn,book_author,year_of_publication,publisher,category
0,0002005018,Richard Bruce Wright,4,HarperFlamingo Canada,['Juvenile Fiction']
1,0060973129,Carlo D'Este,2,HarperPerennial,['History']
2,0374157065,Gina Bari Kolata,3,Farrar Straus Giroux,['Medical']
3,0399135782,Amy Tan,2,Putnam Pub Group,['Social Science']
4,0425176428,Robert Cowley,3,Berkley Publishing Group,['History']
...,...,...,...,...,...
149565,067161746X,P.J. O'Rourke,1,Pocket Books,['House & Home']
149566,0767907566,Sam Lightner,4,Broadway Books,['Juvenile Fiction']
149567,0884159221,Claude Dooley,1,Lone Star Books,NaN
149568,0912333022,Jeremy Lloyd,3,Kqed Books,['Performing Arts']
149569,1569661057,Mapsco,3,American Map Corporation,NaN

In [11]:
books_p

,isbn,book_author,year_of_publication,publisher,category
0,0002005018,Richard Bruce Wright,4,HarperFlamingo Canada,['Juvenile Fiction']
1,0060973129,Carlo D'Este,2,HarperPerennial,['History']
2,0374157065,Gina Bari Kolata,3,Farrar Straus Giroux,['Medical']
3,0399135782,Amy Tan,2,Putnam Pub Group,['Social Science']
4,0425176428,Robert Cowley,3,Berkley Publishing Group,['History']
...,...,...,...,...,...
149565,067161746X,P.J. O'Rourke,1,Pocket Books,['House & Home']
149566,0767907566,Sam Lightner,4,Broadway Books,['Juvenile Fiction']
149567,0884159221,Claude Dooley,1,Lone Star Books,NaN
149568,0912333022,Jeremy Lloyd,3,Kqed Books,['Performing Arts']
149569,1569661057,Mapsco,3,American Map Corporation,NaN

In [13]:
books_p.year_of_publication	.value_counts()

3    46463
4    35910
1    35190
2    32007
Name: year_of_publication, dtype: int64

In [14]:
books_p.to_csv("books_publisher_year.csv", index=False)
books_a.to_csv("books_author_year.csv", index=False)